{% extends 'festival/base.html' %}
{% load static %}
{% block head %}
            <link rel = 'stylesheet' href="{% static 'css/form.css' %}">  
  {% endblock %}

  {% block content %}
<div class="container">
  <div class ="row">
    <div class ="col-md-6 col-xl-6 mt-5 mb-4">
        <form action="" method="POST">
            <p> パスワード再設定を完了しました。
            <br/>
            <br/>
            <br/>
            <br/>
            <a class="btn btn-primary btn-block" href='{% url "login" %}' role="button">ログイン</a>
            </p>
            </form>
</div>
</div>
</div>
{% endblock %}


