{% extends 'festival/base.html' %}
{% load static %}
{% block head %}
            <link rel = 'stylesheet' href="{% static 'css/form.css' %}">  
  {% endblock %}
{% block content %}
<div class="container">
  <div class ="row">
    <div class ="col-md-6 col-xl-6">
        <div class="section-header">
<h2 class="h2">パスワード変更しました</h2>
</div>
<div class="col-sm">
   
    <a class="btn btn-primary btn-block" href='{% url "festival:home" %}' role="button">トップ</a>
  </div>
</div>
</div>
</div>
{% endblock %}

