{% extends 'festival/base.html' %}
{% load static %}
{% block head %}
            <link rel = 'stylesheet' href="{% static 'css/form.css' %}">  
  {% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-6 col-xl-6 mt-5 mb-4">
<form action="" method="POST">
    <div class="form-group">
      {% for field in form %}
      {{ field.label_tag }}
      {{ field }} 
      {% endfor %}
    </div>
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-sm mb-4">
        <button type="submit" class="btn btn-primary btn-block">送信</button>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-primary btn-block" onClick="javascript:history.go(-1);">戻る</button>
      </div>
    </div>
</form>
</div>
</div>
</div>

{% endblock %}