{% extends 'festival/base.html' %}
{% load static %}
{% block head %}
            <link rel = 'stylesheet' href="{% static 'css/form.css' %}">  
  {% endblock %}
{% block content %}

<div class="container">

<h1>お祭り情報の登録</h1>
<form enctype="multipart/form-data" action='' method='post'>{% csrf_token %}
     {{ form.as_p }}

     <div class="center mt-4">
        <button type='submit' class='btn btn-primary'>{{ object|yesno:'更新,作成'}}</button>
       </div>
 </form>

 <div class="mt-5">
    <a href='JavaScript:history.back()'>&lt; 戻る</a>
</div>
</div>
 {% endblock %}